


#canvas{
    border: black 1px solid;
    background-color: cornsilk;
}


#wrapper{
    display: block;
    width: 1200px;
    height: 900px;
    background-color: lightgray;
    padding:15px;
    box-sizing: border-box;
    margin:auto;}




.section-header{
    font-style: oblique;
    font-family:Georgia,sans-serif;
    font-size: 20px;
    alignment: center;

}




.box {
    size: auto;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    margin: 20px 40px 20px 40px;
    padding-bottom: 100px;
    background-color: greenyellow;
}


body{

    font-family: "Comic Sans MS", "Segoe Print","Droid Sans Mono Dotted",sans-serif;
    font-style: unset;
    font-size: 20px;
    color: blue;
    margin: auto;
    padding: auto;
    alignment: center;
}

h1  {
    font-family: Lobster, "Comic Sans MS",sans-serif;
    font-size: 200%;
    alignment: center;
}


