


#canvas{
    border: black 1px solid;
    background-color: cornsilk;
}


#wrapper{
    display: block;
    width: 1200px;
    height: 900px;
    background-color: lightgray;
    padding:15px;
    box-sizing: border-box;
    margin:auto;}

#bottom{
    text-align: center;
    border-bottom-width: thick;
    border-bottom-style: groove;
    border-radius: 85%;
}


.section-header{
    font-style: oblique;
    font-family:Georgia,sans-serif;
    font-size: 20px;
    alignment: center;

}




.box {
    size: auto;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    margin: 20px 40px 20px 40px;
    padding-bottom: 100px;
    background-color: greenyellow;
}


.thick-blue-border {
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    border-radius: 70%;
}

div h2{

    font-family: Lobster ,"Comic Sans MS", sans-serif;
    alignment: center;
    font-size: 200%;

}
a{
     color: yellow;
    text-decoration: none;

}
span:hover{
    font-stretch: extra-expanded;
    font-weight: bold;
    font-style: italic;
    font-size: 350%;
}

a:hover, li:hover{
     font-size: 150%;
     font-style: italic;
     font-stretch:expanded;
     font-weight: bolder;
 }
/*li:hover{*/
    /*font-size: 150%;*/
    /*font-style: italic;*/
    /*font-stretch:expanded;*/
    /*font-weight: bolder;*/
/*}*/
body{

    font-family: "Comic Sans MS", "Segoe Print","Droid Sans Mono Dotted",sans-serif;
    font-style: unset;
    font-size: 20px;
    color: blue;
    margin: auto;
    padding: auto;
    alignment: center;
}
title{
    font-size: 12px;
}
h1  {
    font-family: Lobster, "Comic Sans MS",sans-serif;
    font-size: 200%;
    alignment: center;
}


